@import "../../../../../assets/sass/variables-site/_colors.scss";
$color__background-hr: #e3e3e3;
$color_input-border: #5b5a5a;
$color__input-background: #f7f8f8;


$transition-for-menu-item: cubic-bezier(0.770, -0.315, 0.390, 1.325);