.btn,
.link,
button,
input[type='button'],
input[type='reset'],
input[type='submit'],
.comment-form .submit,
.wpcf7-submit,
.post-password-form label + input {
	@include font-size(14/16);
	text-transform: none;
	letter-spacing: 0;
	border-radius: 0;
	font-weight: 600;
	padding: 10px 18px;
}

.cherry-search .cherry-search__more-button {
	@include font-size(14/16);
	text-transform: none;
	letter-spacing: 0;
	border-radius: 0;
	font-weight: 600;
}

.btn {
	padding: 10px 21px;
	letter-spacing: 0;
	border-radius: 0;
}

.link i{
	display: none;
}
