blockquote {
	text-align: left;
	display: flex;
	padding: 25px;
	&:before{
		margin-right: 15px;
	}
	cite{
		margin-top: 37px;
	}
}

p + ul,
p + ol{
	margin-top: 50px;
}

/*--------------------------------------------------------------
## Lists
--------------------------------------------------------------*/
@import "lists";

/*--------------------------------------------------------------
## Tables
--------------------------------------------------------------*/
@import "tables";

/*--------------------------------------------------------------
## Preloader
--------------------------------------------------------------*/
@import "page-preloader";

/*--------------------------------------------------------------
## ToTop button
--------------------------------------------------------------*/
@import "totop-button";
