.site-footer.centered {
	.footer-container {
		padding-top: 50px;
		padding-bottom: 50px;
		&:first-child {
			padding-top: 0;
		}
	}
}

.footer-style-2{
	.after-content-full-width-area{
		.menu{
			justify-content: center;
		}
	}
}