.site-footer {
	@include font-size(0.75);
	.footer-container {
		padding: 10px 0;
		&:first-child {
			padding-top: 0;
		}
	}
	@media (min-width: 992px) {
		.footer-area{
			padding: 57px 0 60px;
		}
	}
	.widget{
		margin-bottom: 38px;
	}
	.widget-custom-posts .custom-posts__holder{
		margin-bottom: 0;
	}
	&.style-2{
		.footer-container {
			padding-top: 70px;
			padding-bottom: 70px;
		}
	}
}



@import "footer/layout-default";
@import "footer/layout-centered";