<label class="screen-reader-text">$$READER_TEXT$$</label>
<i class="search-form__field-icon linearicon linearicon-magnifier"></i>
<input type="search" $$INPUT_ID$$ class="search-form__field search-field cherry-search__field" placeholder="$$PLACEHOLDER$$&hellip;" value="" name="s" autocomplete="off"/>
<input type="hidden" value='$$SETTINGS$$' name="settings" />
