<div class="cherry-search $$WRAPPER_CLASS$$">
	<form role="search" method="get" class="search-form cherry-search__form $$FORM_CLASS$$" action="$$ACTION$$">
		<div class="search-form__input-wrap">
			%%INPUT%%
		</div>
		%%SUBMIT%%
	</form>
	%%RESULTS_LIST%%
</div>
