.site {
	&-main {
		margin-bottom: 30px;
	}
}

@media (min-width: 1200px) {
	.position-one-right-sidebar .site-content_wrap .sidebar {
		padding-left: $grid-gutter-width/2;
		&:before{
			left: 0;
		}
	}
	.position-one-left-sidebar .site-content_wrap .sidebar{
		padding-right: $grid-gutter-width/2;
		&:before{
			right: 0;
		}
	}
}


/*--------------------------------------------------------------
## Layout
--------------------------------------------------------------*/
@import "../layout/layout";

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "primary/header";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Post Formats
--------------------------------------------------------------*/
@import "primary/post-formats";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "primary/footer";
