$color_white:         #ffffff;
$color_gray:          #f6f6f7;
$color_gray_darker:   darken($color_gray, 5%);

$color_hr:            #e2e2e2;
$color_hr_invert:     #3a3b4a;

$color_facebook:      #5a72ca;
$color_twitter:       #00aced;
$color_google:        #f44336;
$color_instagram:     #b0a26b;
$color_behance:       #3980f4;
$color_linkedin:      #0077b5;
$color_pinterest:     #bd081c;
$color_youtube_icon:  #272727;
