$border-radius__fields: 24px;

$padding__fields_x: 26px;
$padding__fields_y: 13px;
$padding__fields: $padding__fields_y $padding__fields_x;

$padding__buttons_x: 30px;
$padding__buttons_x_big: 40px;
$padding__buttons_y: 11px;
$padding__buttons: $padding__buttons_y $padding__buttons_x;
$padding__buttons_big: $padding__buttons_y $padding__buttons_x_big;

$button__indents_x:     37.5px;
